.testimonials .container{
    background-image: url(https://raw.githubusercontent.com/ProgrammingHero1/doctors-portal-solution-home-page/master/src/images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}